body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(137, 222, 248);    

}

h1 {
    color:#17202A;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
}

.contentDescifrar {
    
}

.selectorNumero{

}
